<!DOCTYPE html>
<html>
    <head>
        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" />
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
		{# Mount point for our main React component #}
		<div id="root"></div>

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
